body {
	background-image: url("background.jpg");
}

* {
	font-family: 'IM Fell DW Pica';
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

.container-fluid {
    margin: 50px;
}

#mainBackground {
	background-color: black;
	padding: 50px;
}


#details {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 15px;
	font-size: 24px;
}

#movieTitle {
	font-size: 48px;
}