<!--input box and btn-->
<div id="mainBackground" class="container-fluid">
    <div class="container" >
        <div class="jumbotron">
                <h1>Movie Finder</h1>
                <p>Find your movies</p>
        </div>

        <div class="col-md-12" id="inputSize">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="vm.movie" placeholder="Search for...">
                <span class="input-group-btn">
    	        <button class="btn btn-secondary" type="button" ng-click="vm.newMovies()">Go!</button>
    	      </span>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="container">
        <div ng-repeat="movie in vm.movies.Search" class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{movie.Title}}</h3>
                </div>
                <div class="panel-body text-center">
                    <img height=200 width=131 src="{{movie.Poster}}">
                    <p>Filmed in {{movie.Year}}</p>
                    <a ui-sref="state1({movieName:'{{movie.Title}}'})">View details</a>
                </div>
            </div>
        </div>
    </div>
</div>
